.skillsDiv {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;

  h2 {
    margin-bottom: 40px;
    font-size: 3rem;
    text-align: center;
  }

  .skillsOpt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;

    input {
      background: rgba(255, 255, 255, 0.1);
      border: none;
      border-radius: 50px;
      height: 40px;
      padding: 0 15px;
      width: 80%;
      font-size: 1rem;
      border-radius: 7px;
    }

    select {
      background: rgba(255, 255, 255, 0.1);
      border: none;
      border-radius: 7px;
      height: 40px;
      font-size: 1rem;
      margin-left: 40px;
      width: 150px;
      padding-left: 10px;
    }
  }

  .brandDescription {
    margin-left: 15px;
    width: 70%;
    justify-content: flex-start;
    margin-top: 10px;
    display: flex;
    align-items: center;
    div {
      margin-right: 20px;
      display: flex;
      align-items: center;

      .star {
        fill: yellow !important;
      }

      .ball {
        border-radius: 50px;
        margin: 0;
        width: 10px;
        height: 10px;
        background-color: greenyellow;
      }
      p {
        margin-left: 8px;
        color: rgba(255, 255, 255, 0.6);
        font-size: 14px;
      }
    }
  }

  .techBrands {
    width: 100%;
    margin-top: 20px;

    .brand {
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      img {
        margin: 0 30px;
        margin-top: 40px;
        width: 80px;
      }
    }
  }
}
