.skillsDiv {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  h2 {
    margin-bottom: 40px;
    font-size: 3rem;
    text-align: center;
  }

  .skillsOpt {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;

    input {
      background: var(--background-01);
      border: none;
      border-radius: 50px;
      height: 40px;
      padding: 0 15px;
      width: 80%;
      font-size: 1rem;
      border-radius: 7px;
    }

    select {
      background: var(--background-01);
      border: none;
      border-radius: 7px;
      height: 40px;
      font-size: 1rem;
      margin-left: 40px;
      width: 150px;
      padding-left: 10px;
    }
  }

  .brandDescription {
    margin-left: 15px;
    width: 70%;
    justify-content: flex-start;
    margin-top: 10px;
    display: flex;
    align-items: center;
    div {
      margin-right: 20px;
      display: flex;
      align-items: center;
    }
  }

  .techBrands {
    width: 100%;
    margin-top: 20px;

    .brand {
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .brandimg {
        margin: 0 30px;
        margin-top: 40px;
        width: 80px;
        transition: 0.3s;

        &:hover {
          filter: brightness(1.2);
        }
      }
    }
  }

  .brandLine {
    position: absolute;
    bottom: 12px;
    width: 50%;
    height: 1px;
    background-color: var(--background-02);
  }

  .brandArrow {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    font-size: 2.188rem;
    fill: var(--background-07);
    transition: 0.4s;

    &:hover {
      fill: var(--text);
    }
  }
}

.simplify {
  overflow: hidden;
  height: 570px;
}

.viewAll {
  overflow: visible;
  height: 100%;

  .brandArrow {
    bottom: -35px;
  }

  .brandLine {
    bottom: -25px;
  }
}
