.terminal.hacker {
  --terminal-default-background: rgb(3, 16, 0);
  --bash-color: #26ed10;
  --border-color: rgb(10, 60, 0);
  --terminal-text-color: #26ed10;
  --head-border-color: rgb(10, 60, 0);
}
