.terminal.ubuntu {
  --terminal-default-background: rgb(48, 10, 36);
  --bash-color: rgb(55, 121, 236);
  --border-color: rgba(255, 255, 255, 0);
  --terminal-text-color: #fff;
  --head-border-color: rgba(255, 255, 255, 0);
  --terminal-header-color:rgb(22,22,22);
}
