.homeButton {
  font-size: 22px;
  background: none;
  border: 1px solid #fff;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 40px;
  transition: 0.4s;
  animation: buttonAnimation 2s forwards;

  &:hover {
    background: #fff;
    color: #0c0c0c;
  }
}

@keyframes buttonAnimation {
  from {
    opacity: 0;
    margin-left: -80px;
  }

  to {
    opacity: 1;
    margin-left: 0px;
  }
}
