.formExp {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  background-size: 12px 12px;
  background-image: repeating-linear-gradient(
    to right,
    var(--second-background),
    var(--second-background) 0.6000000000000001px,
    var(--background) 0.6000000000000001px,
    var(--background)
  );
  background-attachment: fixed;

  .formationDiv {
    min-height: 485px;
    padding: 0 40px;
    max-width: 1400px;
    display: flex;
    flex-direction: column;

    h3 {
      margin: 40px 0;
      font-size: 2rem;
    }

    .formationContent {
      display: flex;
      align-items: top;
      justify-content: space-between;

      .descriptionUser {
        margin-right: 50px;
      }

      .cardsForm {
        .cardsSection {
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            font-size: 2.5rem;
            cursor: pointer;
            margin-left: 10px;

            &:first-child {
              margin-right: 10px;
              margin-left: 0px;
            }
          }

          .not-active {
            opacity: 0.5;
            cursor: default;
          }
        }

        .statusFormation {
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: center;

          .ball {
            cursor: pointer;
            margin: 5px 10px;
            width: 12px;
            height: 12px;
            opacity: 0.1;
            background: var(--text);
            border-radius: 20px;
          }

          .active {
            cursor: default;
            opacity: 0.5;
          }
        }
      }
    }
  }
}
