.titleUser {
  span {
    font-size: 3.5rem;
    user-select: none;
    background: -webkit-linear-gradient(
      0deg,
      var(--colorful-title-1),
      var(--colorful-title-2)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    margin-top: 5px;
  }

  user-select: none;

  .titleUser__item {
    display: flex;
    position: relative;
  }

  .titleUser__item-text {
    pointer-events: none;
    display: block;
    position: relative;
  }

  .titleUser__item > div {
    perspective: 1000px;
    transform-style: preserve-3d;
    overflow: hidden;
  }

  .titleUser__item > div span {
    will-change: transform;
    transform-style: preserve-3d;
    transform: translate3d(0, -100%, 0) rotateX(-90deg);
    transform-origin: bottom;
    display: inline-block;
    animation: rotateTo 40s infinite;
    animation-delay: 1s;

    &:after {
      content: 'Python dev';
      animation: rotateAfter 40s infinite;
      animation-delay: 1s;
    }
  }

  .clone {
    display: none;
  }
}

@keyframes rotateTo {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0) rotateX(90deg);
  }

  5% {
    opacity: 1;
    transform: translate3d(0, 0%, 0) rotateX(0deg);
  }

  25% {
    opacity: 1;
    transform: translate3d(0, 0%, 0) rotateX(0deg);
  }

  30% {
    opacity: 0;
    transform: translate3d(0, 100%, 0) rotateX(90deg);
  }

  35% {
    opacity: 1;
    transform: translate3d(0, 0%, 0) rotateX(0deg);
  }

  50% {
    opacity: 1;
    transform: translate3d(0, 0%, 0) rotateX(0deg);
  }

  55% {
    opacity: 0;
    transform: translate3d(0, 100%, 0) rotateX(90deg);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 0%, 0) rotateX(0deg);
  }

  75% {
    opacity: 1;
    transform: translate3d(0, 0%, 0) rotateX(0deg);
  }

  80% {
    opacity: 0;
    transform: translate3d(0, 100%, 0) rotateX(90deg);
  }

  85% {
    opacity: 1;
    transform: translate3d(0, 0%, 0) rotateX(0deg);
  }

  95% {
    opacity: 1;
    transform: translate3d(0, 0%, 0) rotateX(0deg);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0) rotateX(90deg);
  }
}

@keyframes rotateAfter {
  0% {
    content: 'Software dev';
  }

  5% {
    content: 'Software dev';
  }

  25% {
    content: 'Software dev';
  }

  30% {
    content: 'Software dev';
  }

  35% {
    content: 'Javascript dev';
  }

  50% {
    content: 'Javascript dev';
  }

  55% {
    content: 'Javascript dev';
  }

  60% {
    content: 'Python dev';
  }

  75% {
    content: 'Python dev';
  }

  80% {
    content: 'Python dev';
  }

  85% {
    content: 'Software Engineer';
  }

  95% {
    content: 'Software Engineer';
  }

  100% {
    content: 'Software Engineer';
  }
}
