.footer {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 15px 0;
  border-top: 1px solid var(--text);
  font-size: 0.875rem;
  font-weight: 500;
  opacity: 0.5;
  transition: 0.4s;
  cursor: default;

  &:hover {
    opacity: 1;
  }
}
