html[data-color='dark'] {
  --background: #060606;
  --second-background: #0c0c0c;
  --third-background: #111;

  --text: #fff;
  --text-secondary: #f4f4f4; 

  --loader-background: #111;

  --terminal-default-background: rgb(22, 22, 22);
  --terminal-default-theme: rgb(111, 111, 111);

  --card-background: rgb(19, 19, 19);

  --modal-background: rgb(19, 19, 19);

  --background-01: rgba(255, 255, 255, 0.1);
  --background-02: rgba(255, 255, 255, 0.2);
  --background-07: rgba(255, 255, 255, 0.7);

  --menu-icons-color: #eee;
  --menu-links-color: rgb(232, 232, 232);
}
