html {
  @media (max-width: 768px) {
    font-size: 87.5% !important;

    .menu,
    .overlay,
    .aboutSection {
      padding: 0 20px !important;
    }

    .formationDiv {
      padding: 0 0px !important;

      .descriptionUser {
        padding: 0 20px !important;
      }
    }

    .lucasRef {
      p {
        font-size: 3rem !important;
      }

      .titleUser {
        span {
          font-size: 3rem !important;
        }
      }

      .homeButton {
        font-size: 1.4rem;
      }
    }

    .photo {
      .perfilPhoto {
        height: 250px;
        min-width: 250px;
        margin-right: 0;
      }
    }
    .skillsDiv .techBrands .brand .brandimg {
      width: 60px;
      margin: 0 20px;
      margin-top: 25px;
    }

    #card1,
    #card2,
    #card3 {
      height: 500px !important;
      width: 250px !important;
    }

    .cardContainer {
      width: 430px;
    }

    #portfolio h2 {
      margin-bottom: 0;
    }

    .colorfulButton {
      margin-top: 270px;
    }

    .experienceDiv {
      min-height: 800px;
      .experienceContent .descriptionUser {
        text-align: left;
      }
    }

    .formationDiv {
      p {
        text-align: left;
      }
    }

    .curriculumDiv .curriculumContent {
      h2 {
        font-size: 2.5rem;
        text-align: center;
      }
    }

    .curriculumType {
      flex-direction: column;

      .curriculumActions {
        margin-left: 0 !important;
        margin-top: 30px;
        text-align: center;
      }

      .buttons {
        button {
          font-size: 1.2rem !important;

          &:last-child {
            margin-left: 80px !important;
          }
        }
      }
    }

    .modalFormation {
      .content {
        flex-direction: column;

        .column {
          &:last-child {
            margin-left: 0 !important;
          }

          &:first-child {
            margin-bottom: 20px;
          }
        }
      }
    }

    .focusModalExp .modalFormation .title {
      margin-top: 20px;
    }

    #skills {
      select {
        width: 90%;
      }
    }
    .mode-tog {
      margin: 0;
    }

    .contacts .formSection {
      h3 {
        text-align: center;
      }
    }
  }
}
