.halfLine {
  width: 70%;
  height: 1px;
  background-color: var(--text);
}

.bodyActive {
  overflow-y: hidden;
  background-color: var(--second-background);
}

.bodyActive .main,
.shadow {
  margin-left: 100px;
}

html {
  overflow-x: hidden;
}

.navbar {
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 3rem;
}

.menu {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text);

  .menuOpt {
    display: flex;
    align-items: center;
  }
}

.hamburger-menu {
  height: 4rem;
  width: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bar {
  width: 1.9rem;
  height: 1.5px;
  border-radius: 2px;
  background-color: var(--menu-icons-color);
  transition: 0.5s;
  position: relative;
}

.bar:before,
.bar:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: var(--menu-icons-color);
  transition: 0.5s;
}

.bar:before {
  transform: translateY(-9px);
}

.bar:after {
  transform: translateY(9px);
}

.newPosition {
  background-image: linear-gradient(
    135deg,
    var(--second-background) 0%,
    var(--third-background) 74%
  );
  width: 100%;
  height: 100vh;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    135deg,
    var(--second-background) 0%,
    var(--third-background) 100%
  );
  overflow-x: hidden;
}

.main {
  position: relative;
  width: 100%;
  left: 0;
  z-index: 5;
  transform-origin: left;
  transition: 0.5s;
  height: 100vh;
}

header {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  opacity: 1;
  background-size: 12px 12px;
  background-image: repeating-linear-gradient(
    to right,
    var(--second-background),
    var(--second-background) 0.6000000000000001px,
    var(--background) 0.6000000000000001px,
    var(--background)
  );
  background-attachment: fixed;
  position: relative;
}

.overlay {
  padding: 0 40px;
  width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inner {
  max-width: 35rem;
  text-align: center;
  color: var(--text);
  padding: 0 2rem;
}

.title {
  font-size: 2.7rem;
}

.btn {
  margin-top: 1rem;
  padding: 0.6rem 1.8rem;
  // background-color: #1179e7;
  border: none;
  border-radius: 25px;
  color: var(--text);
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.container.active .bar {
  transform: rotate(360deg);
  background-color: transparent;
}

.container.active .bar:before {
  transform: translateY(0) rotate(45deg);
}

.container.active .bar:after {
  transform: translateY(0) rotate(-45deg);
}

.container.active .main {
  animation: main-animation 0.5s ease;
  cursor: pointer;
  transform: perspective(1300px) rotateY(18deg) translateZ(310px) scale(0.5);
}

@keyframes main-animation {
  from {
    transform: translate(0);
  }

  to {
    transform: perspective(1300px) rotateY(18deg) translateZ(310px) scale(0.5);
  }
}

.links {
  position: absolute;
  right: 200px;
  top: 0;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style: none;
}

.links a {
  text-decoration: none;
  color: var(--menu-links-color);
  padding: 0.7rem 0;
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
  cursor: pointer;
  transform: translateY(10px);
  animation: hide 0.5s forwards ease;

  &:hover {
    margin-left: 5px;
    margin-right: -5px;
    color: var(--text);
  }
}

.container.active .links a {
  animation: appearMenu 0.5s forwards ease var(--i);
}

@keyframes appearMenu {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes hide {
  from {
    opacity: 1;
    transform: translateY(0px);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: 0.5s;
  background-color: var(--text);
}

.shadow.one {
  /* z-index: -1; */
  opacity: 0.15;
}

.shadow.two {
  /* z-index: -2; */
  opacity: 0.1;
}

.container.active .shadow.one {
  animation: shadow-one 0.6s ease-out;
  transform: perspective(1300px) rotateY(18deg) translateZ(215px) scale(0.5);
}

@keyframes shadow-one {
  0% {
    transform: translate(0);
  }

  5% {
    transform: perspective(1300px) rotateY(18deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(18deg) translateZ(215px) scale(0.5);
  }
}

.container.active .shadow.two {
  animation: shadow-two 0.6s ease-out;
  transform: perspective(1300px) rotateY(18deg) translateZ(120px) scale(0.5);
}

@keyframes shadow-two {
  0% {
    transform: translate(0);
  }

  20% {
    transform: perspective(1300px) rotateY(18deg) translateZ(310px) scale(0.5);
  }

  100% {
    transform: perspective(1300px) rotateY(18deg) translateZ(120px) scale(0.5);
  }
}

.container.active .main:hover + .shadow.one {
  transform: perspective(1300px) rotateY(18deg) translateZ(230px) scale(0.5);
}

.container.active .main:hover {
  transform: perspective(1300px) rotateY(18deg) translateZ(340px) scale(0.5);
}

@media (max-width: 1540px) {
  .bodyActive .main,
  .shadow {
    margin-left: 10px;
  }

  .bodyActive .main header {
    width: 130%;
    animation: header-animation 0.5s ease;
  }

  @keyframes main-animation {
    from {
      transform: translate(0);
      margin-left: 0px;
    }

    to {
      transform: perspective(1300px) rotateY(18deg) translateZ(310px) scale(0.5);
      margin-left: 10px;
    }
  }

  @keyframes header-animation {
    from {
      width: 100%;
    }

    to {
      width: 130%;
    }
  }
}

@media (max-width: 1350px) {
  .links {
    right: 80px;
  }
}

