@keyframes terminalAnimation {
  from {
    opacity: 0;
    margin-bottom: -150px;
  }

  to {
    opacity: 1;
    margin-bottom: 0px;
  }
}

.terminal {
  border: 1px solid var(--border-color);
  user-select: none;
  margin-left: 10px;
  width: 630px;
  height: 400px;
  background-color: var(--terminal-default-background);
  border-radius: 15px;
  animation: terminalAnimation 2s forwards;
  box-shadow: 0px 0px 8px 5px #0000000b;

  .terminalOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: -1px;
    margin-left: -1px;
    width: 100.3%;
    height: 45px;
    background: var(--terminal-header-color);
    border-radius: 15px 15px 0 0;
    border-bottom: 1px solid var(--head-border-color);

    p {
      color: var(--terminal-text-color);
      font-weight: 500;
      margin-right: 56px;
    }

    .ballsGroup {
      display: flex;

      .terminalBall {
        width: 12px;
        height: 12px;
        border-radius: 50px;
        margin-right: 10px;
      }

      .green {
        background: var(--green);
      }

      .yellow {
        background: var(--yellow);
      }

      .red {
        background: var(--red);
      }
    }
  }

  .terminalContent {
    font-weight: 500;
    padding: 20px;
    line-height: 25px;

    .bash {
      font-weight: 600;
      color: var(--bash-color);
    }
  }
}

.terminalThemes {
  align-items: center;
  display: flex;
}

.themes {
  animation: appearOpacity 2s forwards;
  height: 300px;
  width: 30px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  .theme {
    cursor: pointer;
    width: 23px;
    height: 23px;
    border-radius: 5px;
    margin-bottom: 30px;

    &::after {
      transition: 0.3s;
      content: 'l';
      font-size: 0.875rem;
      width: 1px;
      background-color: var(--none);
      color: var(--none);
      margin-left: 30px;
    }

    &:hover {
      &::after {
        content: 'l';
        font-size: 0.875rem;
        width: 1px;
        background-color: var(--text);
        color: var(--none);
      }
    }
  }

  .purple {
    background: var(--terminal-purple-theme);
  }

  .black {
    background: var(--terminal-default-theme);
  }

  .green {
    background: var(--terminal-green-theme);
    margin: 0;
  }

  .activated {
    cursor: default;

    &::after {
      content: 'i';
      font-size: 0.875rem;
      width: 1px;
      background-color: var(--text);
      color: var(--none);
      margin-left: 30px;
    }
  }
}

.lucasRef {
  p {
    line-height: 80px;
    margin-right: 10px;
    font-size: 3.5rem;
    font-weight: 500;
    animation: appearOpacity 2s forwards;
  }
}

@keyframes appearOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes typing1 {
  0% {
    visibility: visible;
  }

  40%,
  100% {
    left: calc(100% + 3px);
    visibility: hidden;
  }
}

.dynamic-txts1 {
  color: var(--terminal-text-color);
  margin-right: 10px;
  position: relative;
  visibility: hidden;
  animation: appear 0.1s forwards;
  animation-delay: 2s;

  &:after {
    content: '';
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 2px;
    height: 80%;
    width: 100%;
    background-color: var(--terminal-default-background);
    border-left: 5px solid var(--text);
    animation: typing1 3s steps(12) forwards;
    animation-delay: 2s;
  }
}

.apresentation {
  color: var(--terminal-text-color);

  visibility: hidden;
  animation: appear 0.1s forwards;
  animation-delay: 4s;
}

@keyframes appear {
  0% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

.dynamic-txts2 {
  color: var(--terminal-text-color);
  visibility: hidden;
  margin-right: 10px;
  position: relative;
  animation: appear 0.1s forwards;
  animation-delay: 7s;

  &:after {
    content: '';
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 2px;
    height: 80%;
    width: 100%;
    background-color: var(--terminal-default-background);
    border-left: 5px solid var(--text);
    animation: typing1 1s steps(3) forwards;
    animation-delay: 7s;
  }
}

.bash1 {
  animation: appear;
  visibility: hidden;
  animation: appear 0.1s forwards;
  animation-delay: 4s;
}

.appearMenu {
  color: var(--terminal-text-color);
  visibility: hidden;
  animation: appear 0.1s forwards;
  animation-delay: 8s;
}

.bash2 {
  animation: appear;
  visibility: hidden;
  animation: appear 0.1s forwards;
  animation-delay: 8s;
}

.dynamic-txts3 {
  color: var(--terminal-text-color);
  visibility: hidden;
  margin-right: 10px;
  position: relative;
  animation: appear 0.1s forwards;
  animation-delay: 10s;

  &:after {
    content: '';
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 2px;
    height: 80%;
    width: 100%;
    background-color: var(--terminal-default-background);
    border-left: 5px solid var(--text);
    animation: typing1 3s steps(13) forwards;
    animation-delay: 10s;
  }
}

.apresentation2 {
  color: var(--terminal-text-color);
  visibility: hidden;
  animation: appear 0.1s forwards;
  animation-delay: 12s;
}
