@keyframes terminalAnimation {
  from {
    opacity: 0;
    margin-bottom: -150px;
  }

  to {
    opacity: 1;
    margin-bottom: 0px;
  }
}

.terminal {
  user-select: none;
  margin-left: 10px;
  width: 630px;
  height: 400px;
  background-color: rgba(34, 34, 34, 0.6);
  border-radius: 15px;
  animation: terminalAnimation 2s forwards;
  box-shadow: -2px -2px 10px 2px #00000090;

  .terminalOptions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 45px;
    background: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    p {
      font-weight: 500;
      margin-right: 56px;
    }

    .ballsGroup {
      display: flex;

      .terminalBall {
        width: 12px;
        height: 12px;
        border-radius: 50px;
        margin-right: 10px;
      }

      .green {
        background: greenyellow;
      }

      .yellow {
        background: yellow;
      }

      .red {
        background: red;
      }
    }
  }

  .terminalContent {
    font-weight: 500;
    padding: 20px;
    line-height: 25px;

    .bash {
      font-weight: 600;
      color: rgb(89, 89, 244);
    }
  }
}

.terminalThemes {
  align-items: center;
  display: flex;
}

.themes {
  animation: appearOpacity 2s forwards;
  height: 300px;
  width: 30px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  .theme {
    cursor: pointer;
    width: 23px;
    height: 23px;
    border-radius: 5px;
    margin-bottom: 30px;

    &::after {
      transition: 0.3s;
      content: 'i';
      font-size: 14px;
      width: 1px;
      background-color: rgba(255, 255, 255, 0);
      color: rgba(255, 255, 255, 0);
      margin-left: 30px;
    }

    &:hover {
      &::after {
        content: 'i';
        font-size: 14px;
        width: 1px;
        background-color: #fff;
        color: rgba(255, 255, 255, 0);
        margin-left: 30px;
      }
    }
  }

  .purple {
    background: purple;
  }

  .black {
    background: rgb(111, 111, 111);
  }

  .green {
    background: rgb(23, 215, 23);
    margin: 0;
  }

  .activated {
    cursor: default;

    &::after {
      content: 'i';
      font-size: 14px;
      width: 1px;
      background-color: #fff;
      color: rgba(255, 255, 255, 0);
      margin-left: 30px;
    }
  }
}

.lucasRef {
  p {
    line-height: 80px;
    margin-right: 10px;
    font-size: 56px;
    font-weight: 500;
    animation: appearOpacity 2s forwards;
  }
}

@keyframes appearOpacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes typing1 {
  0% {
    visibility: visible;
  }

  40%,
  100% {
    left: calc(100% + 3px);
    visibility: hidden;
  }
}

.dynamic-txts1 {
  margin-right: 10px;
  position: relative;
  visibility: hidden;
  animation: appear 0.1s forwards;
  animation-delay: 2s;

  &:after {
    content: '';
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 2px;
    height: 80%;
    width: 100%;
    background-color: #222;
    border-left: 5px solid #fff;
    animation: typing1 3s steps(12) forwards;
    animation-delay: 2s;
  }
}

.apresentation {
  visibility: hidden;
  animation: appear 0.1s forwards;
  animation-delay: 4s;
}

@keyframes appear {
  0% {
    visibility: hidden;
  }

  100% {
    visibility: visible;
  }
}

.dynamic-txts2 {
  visibility: hidden;
  margin-right: 10px;
  position: relative;
  animation: appear 0.1s forwards;
  animation-delay: 7s;

  &:after {
    content: '';
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 2px;
    height: 80%;
    width: 100%;
    background-color: #222;
    border-left: 5px solid #fff;
    animation: typing1 1s steps(3) forwards;
    animation-delay: 7s;
  }
}

.bash1 {
  animation: appear;
  visibility: hidden;
  animation: appear 0.1s forwards;
  animation-delay: 4s;
}

.appearMenu {
  visibility: hidden;
  animation: appear 0.1s forwards;
  animation-delay: 8s;
}

.bash2 {
  animation: appear;
  visibility: hidden;
  animation: appear 0.1s forwards;
  animation-delay: 8s;
}

.dynamic-txts3 {
  visibility: hidden;
  margin-right: 10px;
  position: relative;
  animation: appear 0.1s forwards;
  animation-delay: 10s;

  &:after {
    content: '';
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 2px;
    height: 80%;
    width: 100%;
    background-color: #222;
    border-left: 5px solid #fff;
    animation: typing1 3s steps(13) forwards;
    animation-delay: 10s;
  }
}

.apresentation2 {
  visibility: hidden;
  animation: appear 0.1s forwards;
  animation-delay: 12s;
}
